#parent{
    position: relative;
    
}



body{ background-color:rgb(231, 234, 241);
}

nav ol li a {
    
    margin:40px ;
    background: rgb(241, 233, 233);
    text-decoration: none;
    font-family: 'Indie Flower', cursive;
    font-style: italic;

}
 
nav {
    position: 500vh;
}
nav ol li {
    text-align: center;
    display: inline-block;
    
}


#firs {
background-color: forestgreen;
background:slateblue;
text-decoration: solid;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background:blue;
    font-style: italic;
   
}




footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-decoration: dotted;
    background-color: lightyellow;
}


#firsta{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: forestgreen;
}
#firstaa{
    font-family: cursive;
    text-align: center;

}

.a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: gold;
    text-align: center;
}
 
.a1 {
    font-family: cursive;
    text-align: center;
}

.c{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: lightblue;

}

.cc{
    font-family: cursive;
    text-align: center;
}

.b{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: mediumblue;
    text-align: center;
}
.bb{
    font-family: cursive;
    text-align: center;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(200, 223, 158);
   
}

.a1a{
    background-color: forestgreen;
    margin: 15px;

}

.b1b{
    background-color:gold ;
    margin: 15px;

}

.c1c{
    background-color:mediumblue ;
    margin: 15px;

}

.d1d{
    background-color: lightblue;
    margin: 15px;
}
.j{
    text-align: center;
    background-color:wheat;
}


main ol a{
    text-align: center;
}



.t{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(72, 56, 99);
}

ul {
    text-decoration: none;
        margin: 40px;
        ;
    
}

ul a{
    margin: 13px;
    text-decoration: none;
    background-color: rgb(164, 169, 177);
    display: inline;
    border: rgb(243, 233, 233);
    text-align: center;
}

ol a {
    text-decoration: none;
    font-family: inherit;
    background:turquoise;
    margin: 80px;
    text-align: center;
}
.u{
    background-color: rgb(72, 56, 99);

    text-align: center;
    margin: 40px;
}


#childone{
    background-color: brown;
    font-family: 'Zen Dots', cursive;
    position: fixed;
    top: 0;
}

